/* reset simples dop corpor */
* {
    box-sizing: border-box; /* faz o padding não aumentar a largura total */
    margin: 0;
    padding: 0;
}

/* corpo da página */
body {
    height: 100vh; /* altura total da janela */
    display: flex; /* usamos flex para centralizar */
    align-items: center; /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    background: #e9e9e9;
    font-family: arial, sans-serif;
}

/* wrapper do jogo para manter tudo centralizado e organizado */
.game-wrapper {
    text-align: center;
    position: relative; /* para posicionar o overlay de game over */
    background: #bfbfbf; /* caixa de fundo levemnete mais escura */
    padding: 12px; /* espaçamento interno */
    border-radius: 8px; /* cantos arredondados */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); /* sobre suave */
}

/* canvas centralizado */
canvas {
    display: block; /* remove espaço embaixo do canva*/
    margin: 0 auto; /* centraliza horizontalmente */
    
}